.navbar {
    background-color: #515154; 
    padding: 10px;
   
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: center; 
    margin: 0;
    padding: 0;
    padding-left: 150px;
    align-items: center;
  }
  
  .navbar-links li {
    margin: 0 15px; 
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 6px 25px;
    transition: background-color 0.3s;
  }
  
  .navbar-links a:hover {
    background-color: #575757; 
  }
  .imageIcon{
    width: 150px;
  }
 .icon-bag{
    color: white;
    height: 38px;
   
 }
 .icon-people{
    color: white;
    height: 38px;
   
 }
 .imageIconVN{
    height: 14px;
    
 }
 
 
  