.navbar {
  background-color: #515154;
  padding: 10px;
  position: relative; /* Thêm thuộc tính position relative */
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Căn giữa theo chiều dọc */
  max-width: 1600px;
  margin: 0;
  padding-left: 150px;
  position: relative; /* Thêm thuộc tính position relative */
  z-index: 1; /* Đảm bảo navbar hiển thị trên cùng */
}

.navbar-links li {
  padding-left: 28px; /* Tăng khoảng cách chiều ngang giữa các mục li */
  display: flex;
  align-items: center; /* Căn giữa các mục li theo chiều dọc */
  height: 100%; /* Đảm bảo các li có chiều cao bằng nhau */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  font-size: 16px;
  display: flex;
  align-items: center; /* Căn giữa các chữ theo chiều dọc */
  height: 100%; /* Đảm bảo các thẻ a có chiều cao bằng nhau */
}

.navbar-links a:hover {
  background-color: #6a6969;
}

.imageIcon {
  width: 150px;
}

.icon-bag,
.icon-people,
.icon-search {
  color: white;
  height: 30px;
  display: flex;
  align-items: center; /* Căn giữa các icon theo chiều dọc */
}

.imageIconVN {
  height: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Hiển thị menu dropdown bên dưới navbar */
  left: 0;
  background-color: #515154;
  min-width: 200px; /* Độ rộng tối thiểu của dropdown menu */
  z-index: 10; /* Đảm bảo menu dropdown hiển thị trên cùng */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng cho dropdown menu */
  display: none; /* Ẩn dropdown menu mặc định */
}

.dropdown-menu.active {
  display: block; /* Hiển thị dropdown menu khi active */
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #7f7d7d;
}
