.navbar {
  background-color: #515154;
  padding: 10px;
  position: relative; /* Thêm thuộc tính position relative */
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0;
padding-left: 130px; 
 position: relative; /* Thêm thuộc tính position relative */
  z-index: 1; /* Đảm bảo navbar hiển thị trên cùng */
}

.navbar-links li {
  margin-left: 19px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 6px 25px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.navbar-links a:hover {
  background-color: #575757;
}

.imageIcon {
  width: 150px;
}

.icon-bag,
.icon-people,
.icon-search {
  color: white;
  height: 30px;
}

.imageIconVN {
  height: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Hiển thị menu dropdown bên dưới navbar */
  left: 0;
  background-color: #515154;
  min-width: 200px; /* Độ rộng tối thiểu của dropdown menu */
  z-index: 10; /* Đảm bảo menu dropdown hiển thị trên cùng */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng cho dropdown menu */
  display: none; /* Ẩn dropdown menu mặc định */
}

.dropdown-menu.active {
  display: block; /* Hiển thị dropdown menu khi active */
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #7f7d7d;
}
