  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    width: 253px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
   
  }
  .tittleIphone{
    text-align: center;
    margin-top: 38px;
    margin-bottom: 20px;
  }
  .a-category{
   text-align: center;
  }

  .custom-blue {
    color: #469be4 !important; /* Màu xanh dương nhạt hơn với !important để tăng độ ưu tiên */
    border-color: #5a9bd5 !important;
  }
  
  .custom-blue:hover {
    color: #fff !important; /* Chuyển màu chữ sang trắng khi hover */
    background-color: #0c5fa9 !important; /* Chuyển màu nền sang xanh dương khi hover */
  }
  
  .button-text {
    font-size: 0.8em; 
  }
  
  
  
  